<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>wsproxy.client</string>
    <key>Program</key>
    <string>/opt/wsproxy/client.sh</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/var/log/wsproxy.log</string>
    <key>StandardErrorPath</key>
    <string>/var/log/wsproxy.log</string>
  </dict>
</plist>

